header.header
    .logo-cryptoprices: a(href="../html/principal.html")
        img(src="../../images/Cryptoprices.svg", alt="logo-cryptoprices")
    nav.nav--header: ul
        li: a(href="../html/principal.html") Inicio
        li: a(href="../html/prices.html") Precios
        li: a(href="../html/contact.html") Contacto