.form--container {
    display: flex;
    flex-direction: column;
    @include media(desktop-s) {
        width: 800px;
        margin: 0 auto;
    }
}

.form-title {
    margin: 20px auto;
    @include titulos($fuente-secundaria, 32px, $color-claro);
}

.form-and-comments {
    display: flex;
}

#form-comment {
    padding: 50px;
    width: 50%;
}

#comments {
    padding: 50px;
    width: 50%;
}