extend components/template.pug
block content
    main.form--container
        h2 Formulario / Comentario
        form(id="form-comment")
            label(for="username") Nombre de usuario
            input(type="text" id="username" name="username")
            label(for="comment")   Comentario
            textarea(id="comment" name="comment") 
            input(type="submit" value="Enviar")
        section#comments
            h2 Comentarios:
    script(src="../js/comments.js") 
