extend components/template.pug
block content
    main.home--container
        +caja--con-fondo-grande("principal.jpg","¡Bienvenido CryptoLover!", '"Existe una nueva modalidad de poder y no, no es el dinero en manos de pocas personas, sino, la información en mano de muchas personas."')
        p.contenido--texto Vea, parce, si quiere estar en la vuelta de los precios y el jale del mercado, lo que tiene que usar es una herramienta que le muestre todo en tiempo real. Así, puede tomar decisiones con cabeza fría y aprovechar las oportunidades en esta economía que nunca para de cambiar. Tenga esa herramienta siempre a la mano y así no se le escapa ni una en su negocio, ¿sabe qué es?
        a(href='../html/prices.html')
            button.boton--ver-precios Ver Precios
